### Pandas기초
- 1 데이터 셀랙션 및 필터링

In [1]:
pip install pandas

Requirement already satisfied: pandas in /Users/seoinhyeog/opt/anaconda3/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/seoinhyeog/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/seoinhyeog/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/seoinhyeog/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /Users/seoinhyeog/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

## Series
1개의 컬럼 값으로 구성된 1차원 데이터 셋

In [5]:
data= ["A","B","C","D"]
se= pd.Series(data)
se

0    A
1    B
2    C
3    D
dtype: object

In [6]:
se.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
se.values

array(['A', 'B', 'C', 'D'], dtype=object)

In [8]:
# 인덱싱
print(se[1])
print(se[3])

B
D

In [9]:
#슬라이싱
print(se[:3])
print(se[:])

0    A
1    B
2    C
dtype: object
0    A
1    B
2    C
3    D
dtype: object

In [10]:
#컬럼 이름 변경

se.name= "alphabet"
se

0    A
1    B
2    C
3    D
Name: alphabet, dtype: object

In [13]:
# 인덱스 이름 설정
se.index.name="No."
se

No.
0    A
1    B
2    C
3    D
Name: alphabet, dtype: object

In [15]:
#Series 생성시 index 지정하기
data= ["a","b","c","d"]
se= pd. Series(date,index=["a","b","c","d"])
print(se)
print(se['a'])# index 값으로 가져오기

a    A
b    B
c    C
d    D
dtype: object
A

In [38]:
#Series 생성 이후 index 지정하기
se.index=[1,2,3,4]
print(se)
se.index=[1,2,3,5]
print(se)

1    A
2    B
3    C
4    D
dtype: object
1    A
2    B
3    C
5    D
dtype: object

In [39]:
se > 40

TypeError: '>' not supported between instances of 'str' and 'int'

### DataFrame

In [28]:
import numpy as np

data= np.array([1,2,3],[4,5,6],[7,8,9])
column = ["D","E","F"]
df=pd.DataFrame(data)
df

TypeError: array() takes from 1 to 2 positional arguments but 3 were given

In [27]:
#DataFrame

data={
    'country':["kor","usa","china","japan"],
    'rank': [1,2,3,4],
    'grade' : ["A","B","C","D"]
      }
#print(date)
df=pd.DataFrame(data)
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [29]:
## 하나의 컬럼 조회
df.country

0      kor
1      usa
2    china
3    japan
Name: country, dtype: object

In [30]:
## 하나의 컬럼 조회
df["country"]

0      kor
1      usa
2    china
3    japan
Name: country, dtype: object

In [31]:
## 둘이상의 컬럼 조회

print(df[['country','rank']]) # 대괄호는 두번 감싸야됨

  country  rank
0     kor     1
1     usa     2
2   china     3
3   japan     4

In [33]:
# 1개행 가져오기
df.loc[0]

country    kor
rank         1
grade        A
Name: 0, dtype: object

In [32]:
## 2개 이상의 행 조회
df.loc[0:2]

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C

In [34]:
df.loc[[0,2]]# 인덱스값 0,2 행 가져오기

  country  rank grade
0     kor     1     A
2   china     3     C

In [35]:
df.loc[0,'grade']# 행과 열의 좌표

'A'

In [36]:
df.loc[0:2,['country','grade']]

  country grade
0     kor     A
1     usa     B
2   china     C

In [43]:
df.loc[(df['grade']=="A") | (df['rank']>2)]

  country  rank grade
0     kor     1     A
2   china     3     C
3   japan     4     D